<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Game Play Tracker!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  {{{ body }}}
</body>

<script>
 $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newGame = {
      game_name: $("#ca").val().trim(),
      played: $("[name=played]:checked").val().trim()
    };
    // Send the POST request.
    $.ajax("/api/games", {
      type: "POST",
      data: newGame
    }).then(
      function() {
        console.log("created new game");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".change-played").on("click", function(event) {
    console.log("click");
    var id = $(this).data("id");
    var newPlayed = $(this).data("newplayed");

    var newPlayedState = {
      played: newPlayed
    };

    // Send the PUT request.
    $.ajax("/api/games/" + id, {
      type: "PUT",
      data: newPlayedState
    }).then(
      function() {
        console.log("changed sleep to", newPlayed);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>

</html>